/*/////////////
// KEYFRAMES ///////////////////////////////////////////////////////
//////////// */

@keyframes uoDownAnimation {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.6rem);
  }
  75% {
    transform: translateY(0.6rem);
  }
}


/*/ //////////
// CLASSES ///////////////////////////////////////////////////////
////////// */

.up-down-animated {
  animation: uoDownAnimation 8s linear infinite both;
}
