/*///////////////////
// COMING SOON ////////////////////////////////////////////////////////
///////////////////*/

.comingsoon--container {
  padding: 1rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-colors);
  background-color: var(--sidebar-containers-bg-color);
  transition: all var(--transition-time) ease;
  margin: 1rem;
}

.comingsoon--container:hover {
  box-shadow: var(--shadow-colors-hover);
}

.comingsoon--container .comingsoon--hr {
  width: 75%;
  margin: 1rem 0;
  border: 0;
  height: 0.1rem;
  background-color: var(--text-h1-color);
}

/* hr {
    

    background: rgb(69, 158, 81);
    background: radial-gradient(
      circle,
      rgba(69, 158, 81, 0.927608543417367) 61%,
      rgba(226, 230, 227, 1) 100%
    );
  }
   */
