/*///////////////////
// GENERAL CLASSES ////////////////////////////////////////////////////////
///////////////////*/

h1 {
  color: var(--text-h1-color);
  letter-spacing: 0.1rem;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

/* ----- ICONS AND IMAGES ----- */

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.icon {
  width: 1rem;
  height: 1rem;
  /* margin: 0.5rem; */
  transform: all var(--transition-time) ease;
}

@media (min-width: 600px) {
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

.painted {
  filter: invert(20%) sepia(95%) saturate(750%) hue-rotate(80deg)
    brightness(120%);
}

/* ----- CONTAINERS ----- */

.container {
  padding: 0.5rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-colors);
  background-color: var(--general-container-bg-color);
  transition: all var(--transition-time) ease;
}

.container:hover {
  box-shadow: var(--shadow-colors-hover);
}

/* ----- BUTTONS ----- */

.btn {
  width: 6rem;
  height: 3rem;
  appearance: none;
  backface-visibility: hidden;
  background-color: var(--button-bg-color);
  border-radius: var(--border-radius);
  border-style: none;
  box-shadow: var(--shadow-colors);
  color: var(--text-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all var(--transition-time) ease;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--button-bg-color-hover);
  opacity: 1;
}

.btn:active {
  transform: translateY(2px);
}

.btn:hover {
  box-shadow: var(--shadow-colors-hover);
}

/* ----- FORMS ----- */

.form__row {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}

.form__label {
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: var(--border-width) solid var(--text-h1-color);
  transition: all var(--transition-time) ease;
}
.form__input:focus {
  outline: none;
}

/* ----- HIDDEN CLASSES ----- */

.hidden-top {
  transform: translateY(-20rem);
  opacity: 0;
  overflow: hidden;
  filter: blur(5px);
}

.hidden-bottom {
  transform: translateY(20rem);
  opacity: 0;
  overflow: hidden;
  filter: blur(5px);
}

.hidden-right {
  transform: translateX(20rem);
  opacity: 0;
  overflow: hidden;
  filter: blur(5px);
}
