/*//////////
// HEADER ////////////////////////////////////////////////////////
//////////*/

.header {
  width: 100%;
  height: var(--header-height);
}

.header__logo--container {
  float: left;
  height: 100%;
  overflow: hidden;
}
