/*////////
// MAIN ////////////////////////////////////////////////////////
////////*/

.main {
  padding: 2rem;
  padding-left: 6rem;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  text-wrap: balance;
}

.main:last-child {
  margin-top: auto;
}

@media (max-width: 600px) {
  .main {
    padding: 1rem;
    padding-left: 3rem;
  }
}
