/*///////////
// SIDEBAR ////////////////////////////////////////////////////////
///////////*/

.sidebar {
  position: fixed;
  height: auto;
  margin-top: var(--header-height);
  width: 2rem;
  z-index: 5;

  border-top: var(--border-width) solid var(--border-color);
  border-right: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--sidebar-bg-color);
  overflow: hidden;
  box-shadow: var(--shadow-colors);
  transition: width var(--transition-time) linear;
}
.sidebar .container {
  cursor: pointer;
}

@media (min-width: 600px) {
  .sidebar {
    width: 4rem;
  }
}

@supports (backdrop-filter: blur(10px)) {
  .sidebar {
    backdrop-filter: blur(10px);
  }
}

.sidebar:hover {
  box-shadow: var(--shadow-colors-hover);
}

/* ----- WHEN SIDEBAR IS EXPANDED ----- */

.sidebar.sidebar--expanded {
  width: 16rem;
}
.sidebar.sidebar--expanded .__feature--container {
  justify-content: start;
}
.sidebar.sidebar--expanded .feature--link {
  display: inline-block;
}
/* ------------------------------------- */

.sidebar .sidebar-button--container {
  display: flex;
  justify-content: end;
  margin: 1rem 0;
  padding-right: 10%;
}

@media (max-width: 600px) {
  .sidebar .sidebar-button--container {
    padding: 0 0.2rem;
  }
}

.sidebar #sibebar-opener {
  display: none;
}

.sidebar .checkbox-img {
  cursor: pointer;
  transition: transform var(--transition-time) ease;
}

.sidebar .sibebar--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0.5rem; */
}

.sidebar #sibebar-opener:checked ~ .sibebar--label .checkbox-img {
  transform: rotate(-180deg);
}

.sidebar .features {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar .__features--item {
  width: 80%;
  margin-bottom: 1rem;
  white-space: nowrap; /* to hide wierd height scaling during opening animation of sidebar */
  transition: all var(--transition-time) ease;
}

.sidebar .__features--item:hover {
  transform: scale(1.1);
}
.sidebar .__features--item:hover .painted {
  filter: invert(20%) sepia(95%) saturate(750%) hue-rotate(80deg)
    brightness(150%);
}

.sidebar .__feature--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar .feature--link {
  display: none;
  padding-left: 1rem;
  color: var(--text-primary);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 800;
}
