:root {
  --font-size: 16px;
  --text-primary: #212121;
  --text-secondary: #212121;

  /* ================ app css variables ================ */
  --header-height: 4rem;
  --border-color: rgba(146, 170, 131, 0.3);
  --transition-time: 250ms;
  --sidebar-containers-bg-color: rgba(225, 240, 216, 0.5);
  --shadow-colors: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --shadow-colors-hover: rgba(49, 126, 39, 0.25) 0px 6px 12px -2px,
    rgba(24, 81, 17, 0.3) 0px 3px 7px -3px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid rebeccapurple; */
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(146, 170, 131);
  background: linear-gradient(
    135deg,
    rgba(146, 170, 131, 1) 41%,
    rgba(176, 190, 169, 1) 100%
  );
}

/*//////////
// LAYOUT //
//////////*/

.app {
  width: 100vw;
  min-height: 100svh;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgb(226, 237, 219);
  background: linear-gradient(
    225deg,
    rgba(226, 237, 219, 1) 22%,
    rgba(239, 239, 239, 1) 100%
  );
  border-radius: 8px;
  box-shadow: var(--shadow-colors);

  /* font */
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 600px) {
  body .app {
    width: 85vw;
    min-height: 85vh;
  }
}

.header {
  width: 100%;
  height: var(--header-height);
}

.sidebar {
  position: absolute;
  height: 100%;
  margin-top: var(--header-height);
  width: 4rem;
  float: left;
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-top-right-radius: 8px;
  background-color: rgba(203, 233, 200, 0.8);
  overflow: hidden;
  box-shadow: var(--shadow-colors);
  transition: width var(--transition-time) ease;
}
@supports (backdrop-filter: blur(10px)) {
  .sidebar {
    background: linear-gradient(
      135deg,
      rgba(105, 200, 92, 0.1),
      rgba(234, 243, 232, 0)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.main {
  padding: 2rem;
  padding-left: 6rem;
  flex-grow: 1;
}

/*///////////////////
// GENERAL CLASSES //
///////////////////*/

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.icon {
  width: 2rem;
  height: 2rem;
  transform: all var(--transition-time) ease;
}

.painted {
  filter: invert(20%) sepia(95%) saturate(750%) hue-rotate(80deg)
    brightness(120%);
}

.container {
  padding: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: var(--shadow-colors);
  background-color: var(--sidebar-containers-bg-color);
}

/*//////////
// HEADER //
//////////*/

.header__logo--container {
  float: left;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.header__logo--container .logo {
  max-height: 100%;
  max-width: 100%;
}

/*///////////
// SIDEBAR //
///////////*/

.sidebar:hover {
  box-shadow: var(--shadow-colors-hover);
}
.sidebar.sidebar--expanded {
  width: 16rem;
}

.sidebar.sidebar--expanded .feature--link {
  display: inline-block;
}

.sidebar .sidebar-button--container {
  display: flex;
  justify-content: end;
  margin: 1rem 0.5rem;
}

#sibebar-opener {
  display: none;
}

.checkbox-img {
  cursor: pointer;
  transition: transform var(--transition-time) ease;
}

.sidebar .sibebar--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#sibebar-opener:checked ~ .sibebar--label .checkbox-img {
  transform: rotate(-180deg);
}

.sidebar .features {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar .__features--item {
  width: 80%;
  margin-bottom: 1rem;
  transition: all var(--transition-time) ease;
}

.sidebar .__features--item:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-colors-hover);
}
.sidebar .__features--item:hover .painted {
  filter: invert(20%) sepia(95%) saturate(750%) hue-rotate(80deg)
    brightness(150%);
}

.sidebar .__feature--container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.sidebar .feature--link {
  display: none;
  padding-left: 1rem;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 800;
}

/*////////
// MAIN //
////////*/

.main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: space-between;
  text-wrap: balance;
}
.main:last-child {
  margin-top: auto;
}
.main .article {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow-colors);
  transition: all var(--transition-time) ease;
}
.main .article:hover {
  box-shadow: var(--shadow-colors-hover);
}

/*//////////
// FOOTER //
//////////*/
.footer {
  padding: 1rem 1rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright {
  text-align: center;
  text-wrap: balance;
  color: var(--color-light--1);
}

.footer hr {
  width: 75%;
  margin-top: 0.5rem;
  border: 0;
  height: 0.1rem;
  background: rgb(69, 158, 81);
  background: radial-gradient(
    circle,
    rgba(69, 158, 81, 0.927608543417367) 61%,
    rgba(226, 230, 227, 1) 100%
  );
}

.footer .social-links {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.footer .social-links--link {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.footer .social-img {
  height: 100%;
  width: 100%;
  filter: invert(86%) sepia(59%) saturate(367%) hue-rotate(70deg)
    brightness(150%);
  transition: all var(--transition-time) ease;
}

.footer .social-links--link:hover .social-img {
  transform: translateY(-0.3rem);
  filter: invert(150%) sepia(48%) saturate(370%) hue-rotate(70deg)
    brightness(150%);
}
