/*////////////
// HOMEPAGE ////////////////////////////////////////////////////////
////////////*/
.bmi-view {
  transition: all var(--transition-time-slow) ease;
}

.bmi-view .form--container {
  display: grid;
  grid-auto-flow: row;
  /* grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
}

@media (max-width: 320px) {
  .bmi-view .form--container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

.bmi-view .bmi--contaner {
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 1rem;
  text-wrap: balance;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-colors);
  background-color: var(--sidebar-containers-bg-color);
  transition: all var(--transition-time) ease;
}

.bmi-view .bmi--contaner:hover {
  box-shadow: var(--shadow-colors-hover);
}

.bmi-view .bmi--form {
  justify-content: center;
}

.bmi-view h2 {
  color: var(--text-h1-color);
  padding: 1rem 0;
  font-weight: 800;
}
.bmi-view h1 {
  font-size: 4rem;
  color: var(--text-primary);
}

.bmi-view .form__row {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}

.bmi-view .form__label {
  font-size: 1.5rem;
  font-weight: 600;
}

.bmi-view .form__input {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: var(--border-width) solid var(--text-h1-color);
  background-color: var(--color-light--3);
  transition: all var(--transition-time) ease;
}
.bmi-view .form__input:focus {
  outline: none;
}

.bmi-view .btn {
  margin-top: 1rem;
  align-self: start;
}

/* result */

.bmi-view .bmi-container-result {
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0.5rem solid;
  border-color: green;
}

/* article */

.bmi-view .article {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-colors);
  transition: all var(--transition-time) ease;
}

.bmi-view .article:hover {
  box-shadow: var(--shadow-colors-hover);
}
.bmi-view ul {
  list-style-position: outside;
  padding-left: 1rem;
}
.bmi-view li {
  margin-bottom: 0.5rem;
}

/* formula */

.bmi-view .formula {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.bmi-view .fraction {
  display: inline-block;
  text-align: center;
}

.bmi-view .line {
  display: block;
  border-top: 0.15rem solid #000;
}

.bmi-view .weight,
.bmi-view .height {
  display: block;
  padding: 0.4rem;
}
